body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://i.pinimg.com/564x/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .child {
  height: 100%;
  width: 20%;
  display: inline-block;
  border: 5px solid rgb(175, 170, 170);
  margin: 10px;
  box-shadow:0 2px 2px rgb(207, 193, 193);

} */
.child { /*карточки*/
  white-space: nowrap;
  overflow: hidden;
  padding: 15px;
  text-overflow: ellipsis;
  height: 100%;
  width: 20%;
  display: inline-block;
  border: 5px solid rgb(175, 170, 170);
  margin: 10px;
  box-shadow:0 2px 2px rgb(207, 193, 193);
}
.child:hover {
  background: #fdc630c0;
  white-space: normal;
}
.text-1{ /*заголовок карточки*/
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
  font-size: 200%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
}
.text-1:hover {
  white-space: normal;
}
.text-11{ /*заголовок */
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
  font-size: 200%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  color: #ffbb00d8;;
}
.text-2{ /*текст внутри карточки*/
  font-size: 130%;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание */
}
.text{ /*текст внутри карточки*/
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
  font-size: 130%;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
}
.text:hover {
  white-space: normal;
}

.input{ /*Ввод текста*/
  padding: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
.button{/*кнопки*/
  margin-top: 20px;
}
.p-fieldset.p-component.description.p-fieldset-toggleable{ /*Описание*/
  margin-left: 289px;
  margin-right: 289px;
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}
.p-button.p-component.p-button-text-icon-left{
  margin: 10px;
  margin-top: 20px;
}
.p-dialog.p-component.modal.p-dialog-enter-done{
  width: 500px;
}
.p-inputtext.p-component{
  margin-bottom: 15px;
}
.rate{
margin-bottom: 15px;
}
.calendar{ /*Поле календаря*/
 margin: 0px;
}
.p-datepicker.p-component.p-input-overlay.p-shadow.p-input-overlay-visible{
display: flex; 
flex-direction: column;
justify-content: center;
}
.cal-n-rat{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.p-button.p-component.p-button-secondary.p-button-text-icon-left{
  margin-right: 90px;
}
.p-fieldset.p-component.description.p-fieldset-toggleable{
background-color:#333333ab;
color: aliceblue;
display: flex; 
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.pi.pi-plus.p-c.p-button-icon-left{/*Add button*/
  color: aliceblue;
}
.pi.pi-times.p-c.p-button-icon-left{
  color: aliceblue;
}
.pi.pi-check.p-c.p-button-icon-left{
  color: aliceblue;
}
.p-button-text.p-c{/*Add button*/
  color: aliceblue;
  font-size: 113%;
}
.p-button.p-component.p-button-secondary.p-button-text-only{
background-color: #ffbb01;
}
.p-fieldset-legend-text{
font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
}
.p-fieldset-content{
font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
font-size: 130%;
}
.p-button.p-component.p-button-warning.p-button-text-icon-left{/*Warning button*/
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
}
.p-button.p-component.p-button-raised.p-button-danger.p-button-text-icon-left{/*Danger button*/
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
}
.p-button.p-component.p-button-raised.p-button-info.p-button-text-icon-left{/*Info button*/
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
}
.p-button.p-component.p-button-secondary.p-button-text-only{
  font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
}
.button{
  background-color: #602faf;
}